@import '../../variables.scss';

.list {
  padding: 2px;
  background: var(--background-grey);

  .orderedList {
    margin: 2px 6px;
    padding: 2px 8px 2px 24px;
    color: var(--link-black);
  }

  .center {
    text-align: center;

    button {
      padding: 4px;
      margin: 8px;
    }
  }

  .row {
    display: flex;

    .number {
      margin-right: 8px;
    }
  }
}
