@import '../../variables.scss';

.header {
  background: var(--background-orange);
}

.link {
  padding: 10px;
  text-decoration: none;
  color: var(--text-black);
}

.logo {
  font-size: 1.1em;
  font-weight: bold;
}
